<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b467">  <td>18/09/06 22:38:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:tests.TC0001_MergeLead@20398b7c]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/09/06 22:37:14</td>   <td>-70993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC0001_MergeLead@20398b7c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/06 22:37:54</td>   <td>-30828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0001_MergeLead.mergeLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC0001_MergeLead@20398b7c]">mergeLead</td> 
  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/06 22:37:13</td>   <td>-71506</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC0001_MergeLead.setData()[pri:0, instance:tests.TC0001_MergeLead@20398b7c]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/06 22:37:12</td>   <td>-72274</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:tests.TC0001_MergeLead@20398b7c]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/06 22:37:14</td>   <td>-71000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:tests.TC0001_MergeLead@20398b7c]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/06 22:38:26</td>   <td>1543</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:tests.TC0001_MergeLead@20398b7c]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
</table>
